/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --basic-font: "Inter";
  --accent-font: "PressStart2P";
  --basic-text-card: 400;
  --title-card: 785;
  --accent-header-color: ;
  --border: #000;
  --bg-gradient: linear-gradient(#e7e7e7, #1a1a1a);
  --bg-color: #fff;
  --text-color: #000;
}


