/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --basic-font: "Inter";
  --accent-font: "PressStart2P";
  --basic-text-card: 400;
  --title-card: 785;
  --accent-header-color: ;
  --border: #000;
  --bg-gradient: repeating-linear-gradient(to right, #d3d3d3, transparent 2px),
    repeating-linear-gradient(to bottom, #d3d3d3, transparent 2px),
    linear-gradient(#e7e7e7, #1a1a1a);
  --bg-color: #fff;
  --text-color: #000;
  --button-text-color: #fff;
  --header-font: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --header-subtile-font: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --name-contour: #000;
  --sparks-filling: red;
  --hover-filling: #000;
  --active-filling: red;
}
